# Ignore virtual environment
ambica/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore IDE/editor files
.vscode/
*.log

# Ignore uploaded files (if applicable)
static/uploads/

# Ignore environment variables (if using .env)
.env
